*.iml
.idea/
.gradle/
.kotlin/
.DS_Store
local.properties

/build
**/build/
.cxx/
.externalNativeBuild/
captures/

*.apk
*.ap_
*.dex
*.class
*.so
*.o
*.log

ml/venv/
ml/__pycache__/
ml/models/*.litertlm
